body {
    font-size: 1.6rem;
    font-family: 'Montserrat',
        sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #444444;
}

.section-heading {
    text-align: left;
    font: normal normal normal 30px/37px Montserrat;
    letter-spacing: 0px;
    color: #4B4B4B;
    opacity: 1;
}

.paragraph-heading {
    text-align: left;
    font: normal normal normal 24px/29px Montserrat;
    letter-spacing: 0px;
    color: #4B4B4B;
    opacity: 1;
}